/* Common.css */

body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    color: #333;
  }
  
  .header {
    background-color: #4f46e5;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }
  
  .navbar {
    display: flex;
    justify-content: center;
    gap: 2rem
  }